.version.honey /* version checker */
{
	color: #0000FF;
	background-color: #7B225D;
}

@-ms-viewport
{
	width: 375px;
}

@-webkit-viewport
{
	width: 375px;
}

@-o-viewport
{
	width: 375px;
}

@-moz-viewport
{
	width: 375px;
}

@viewport
{
	width: 375px;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 375px;
	min-height: 559px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u8510
{
	z-index: 42;
	height: 180px;
	background: transparent url("../images/scroll_ko_top.png") no-repeat center top;
}

#u8510-bw
{
	z-index: 42;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#accordionu7235
{
	z-index: 106;
}

#u7236
{
	z-index: 107;
}

#u7330-3
{
	z-index: 108;
	min-height: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7330-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	margin: 0px;
}

#u7237
{
	z-index: 111;
	padding-bottom: 46px;
}

#pu7901
{
	width: 0.01px;
	position: relative;
}

#u7901
{
	z-index: 134;
	width: 125px;
	margin-right: -10000px;
}

#u7899
{
	z-index: 132;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7897
{
	z-index: 130;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#u7895
{
	z-index: 128;
	width: 125px;
	margin-right: -10000px;
}

#u7893
{
	z-index: 126;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7891
{
	z-index: 124;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#u7889
{
	z-index: 122;
	width: 125px;
	margin-right: -10000px;
}

#u7887
{
	z-index: 120;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7885
{
	z-index: 118;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#pu7895,#pu7889,#pu7883
{
	width: 0.01px;
	margin-top: 1px;
	position: relative;
}

#u7883
{
	z-index: 116;
	width: 125px;
	margin-right: -10000px;
}

#u7881
{
	z-index: 114;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7879
{
	z-index: 112;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#accordionu7235-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 106;
	top: 0px;
}

#u5491
{
	z-index: 136;
	width: 60px;
	top: 0px;
	left: 0px;
}

#u5608
{
	z-index: 104;
	height: 40px;
}

#u5608-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 104;
	top: 0px;
}

#u5603
{
	z-index: 105;
	height: 40px;
}

#u5603-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 105;
	top: 0px;
}

#top
{
	position: relative;
}

#u7497
{
	z-index: 138;
	width: 230px;
	height: 40px;
	top: 0px;
	left: 80px;
}

#u9146
{
	z-index: 44;
	height: 100px;
}

.ie #u7497,.ie #u9146
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u9146-bw
{
	z-index: 44;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 40px;
}

#u8552
{
	z-index: 43;
	width: 375px;
	height: 519px;
	background-color: transparent;
	position: fixed;
	top: 40px;
	left: 0px;
}

#U9361_animation
{
	width: 375px;
	height: 519px;
	border: none;
}

#fragrance
{
	margin-top: 167px;
	position: relative;
}

#pu8524-15
{
	width: 0.01px;
	margin-top: 77px;
}

#u8524-15
{
	z-index: 27;
	width: 230px;
	min-height: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
}

#u8524-4,#u8524-13
{
	font-size: 15px;
	line-height: 18px;
	padding-left: 30px;
	padding-top: 10px;
	color: #8D2A93;
}

#buttonu8501
{
	z-index: 68;
	width: 185px;
	border-color: #787878;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	left: 189px;
}

#u8502-6
{
	z-index: 71;
	width: 185px;
	min-height: 30px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu8501.ButtonSelected #u8502-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 185px;
	margin: 0px;
}

#u8502-2,#u8502-4
{
	padding-left: 35px;
}

#u8503
{
	z-index: 69;
	width: 30px;
	background-color: transparent;
	margin-left: 95px;
	margin-top: 4px;
	position: relative;
}

#buttonu8501.ButtonSelected #u8503
{
	width: 30px;
	min-height: 0px;
	margin: 4px 0px 0px 95px;
}

#buttonu8492
{
	z-index: 77;
	width: 185px;
	border-color: #787878;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#buttonu8501.ButtonSelected,#buttonu8492.ButtonSelected
{
	width: 185px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8495-6
{
	z-index: 80;
	width: 185px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu8492.ButtonSelected #u8495-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 185px;
	margin: 0px;
}

#u8495-2,#u8495-4
{
	padding-right: 40px;
}

#u8493
{
	z-index: 78;
	width: 30px;
	background-color: transparent;
	margin-left: 55px;
	margin-top: 4px;
	position: relative;
}

#buttonu8492.ButtonSelected #u8493
{
	width: 30px;
	min-height: 0px;
	margin: 4px 0px 0px 55px;
}

.js #buttonu8501.ose_pre_init,.js #buttonu8492.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#notes
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 280px;
}

#buttonu8517
{
	z-index: 61;
	width: 65px;
	border-color: #787878;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 5px;
	position: relative;
}

#buttonu8517.ButtonSelected
{
	width: 65px;
	min-height: 0px;
	margin: 5px 0px 0px 30px;
}

#u8519
{
	z-index: 62;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u8518-4
{
	z-index: 64;
	width: 60px;
	min-height: 25px;
	background-color: transparent;
	padding-top: 5px;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: left;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#pu8531-19
{
	width: 0.01px;
	margin-top: 15px;
}

#u8531-19
{
	z-index: 2;
	width: 240px;
	min-height: 350px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8524-2,#u8531-2
{
	font-size: 20px;
	line-height: 24px;
	padding-left: 30px;
	padding-top: 10px;
	color: #270337;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u8531-6,#u8531-13,#u8531-17
{
	font-size: 15px;
	line-height: 18px;
	padding-left: 110px;
	padding-top: 10px;
	color: #8D2A93;
}

#u8524-5,#u8531-3,#u8531-7,#u8531-14
{
	font-weight: bold;
}

#u8532
{
	z-index: 21;
	width: 61px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 30px;
}

#u8527
{
	z-index: 23;
	width: 61px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 30px;
}

#u8532_img,#u8527_img
{
	margin: -2px;
}

#u8529
{
	z-index: 25;
	width: 61px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 30px;
}

#u8532_clip,#u8527_clip,#u8529_clip
{
	overflow: hidden;
	width: 61px;
	height: 61px;
}

#u8529_img
{
	margin: -3px -2px -1px;
}

#buttonu8496
{
	z-index: 45;
	width: 100px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 250px;
}

#buttonu8496.ButtonSelected
{
	width: 100px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
}

#u8498
{
	z-index: 46;
	width: 30px;
	background-color: transparent;
	margin-left: 35px;
	position: relative;
}

#buttonu8496.ButtonSelected #u8498
{
	width: 30px;
	min-height: 0px;
	margin: 0px 0px 0px 35px;
}

#u8497-6
{
	z-index: 48;
	width: 100px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu8496.ButtonSelected #u8497-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 100px;
	margin: 0px;
}

#buttonu8505
{
	z-index: 54;
	width: 65px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 30px;
}

#buttonu8505.ButtonSelected
{
	width: 65px;
	min-height: 0px;
	margin: 290px -10000px 0px 0px;
}

#u8506
{
	z-index: 55;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#buttonu8517.ButtonSelected #u8519,#buttonu8505.ButtonSelected #u8506
{
	width: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8508-4
{
	z-index: 57;
	width: 60px;
	min-height: 25px;
	background-color: transparent;
	padding-top: 5px;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: left;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu8517.ButtonSelected #u8518-4,#buttonu8505.ButtonSelected #u8508-4
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

.js #u8524-15.ose_pre_init,.js #buttonu8517.ose_pre_init,.js #u8531-19.ose_pre_init,.js #u8532.ose_pre_init,.js #u8527.ose_pre_init,.js #u8529.ose_pre_init,.js #buttonu8496.ose_pre_init,.js #buttonu8505.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u5650
{
	z-index: 139;
	min-height: 25px;
	padding-bottom: 5px;
}

#u9152
{
	z-index: 140;
	width: 208px;
	margin-right: -10000px;
	left: 87px;
}

#u4002
{
	z-index: 142;
	width: 121px;
	min-height: 25px;
	margin-right: -10000px;
}

#u4004
{
	z-index: 141;
	width: 70px;
	min-height: 25px;
	margin-right: -10000px;
	left: 138px;
}

#u5650-bw
{
	z-index: 139;
	min-height: 25px;
}

#pu5615
{
	width: 0.01px;
	margin-top: 4px;
}

#u5615,#u5615-bw
{
	z-index: 89;
	height: 30px;
}

#u3609-14
{
	z-index: 90;
	min-height: 20px;
}

#u3609-14-bw
{
	z-index: 90;
	min-height: 20px;
	margin-top: 10px;
}

body
{
	position: relative;
	min-width: 375px;
}

#page .verticalspacer
{
	clear: both;
}

