.version.index /* version checker */
{
	color: #00001F;
	background-color: #9C5965;
}

@-ms-viewport
{
	width: 375px;
}

@-webkit-viewport
{
	width: 375px;
}

@-o-viewport
{
	width: 375px;
}

@-moz-viewport
{
	width: 375px;
}

@viewport
{
	width: 375px;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 375px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 59px;
}

#u5603
{
	z-index: 32;
	height: 40px;
}

#u5603-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 32;
	top: 0px;
}

#accordionu7235
{
	z-index: 33;
}

#u7236
{
	z-index: 34;
}

#u7330-3
{
	z-index: 35;
	min-height: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7330-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	margin: 0px;
}

#u7237
{
	z-index: 38;
	padding-bottom: 46px;
}

#pu7901
{
	width: 0.01px;
	position: relative;
}

#u7901
{
	z-index: 61;
	width: 125px;
	margin-right: -10000px;
}

#u7899
{
	z-index: 59;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7897
{
	z-index: 57;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#u7895
{
	z-index: 55;
	width: 125px;
	margin-right: -10000px;
}

#u7893
{
	z-index: 53;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7891
{
	z-index: 51;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#u7889
{
	z-index: 49;
	width: 125px;
	margin-right: -10000px;
}

#u7887
{
	z-index: 47;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7885
{
	z-index: 45;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#pu7895,#pu7889,#pu7883
{
	width: 0.01px;
	margin-top: 1px;
	position: relative;
}

#u7883
{
	z-index: 43;
	width: 125px;
	margin-right: -10000px;
}

#u7881
{
	z-index: 41;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7879
{
	z-index: 39;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#accordionu7235-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 33;
	top: 0px;
}

#slideshowu2988
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	margin-left: 256px;
	position: relative;
}

#u2997
{
	position: absolute;
	background-color: transparent;
}

#u2997popup
{
	z-index: 3;
}

#u4969
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5440
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5449
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5458
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5467
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5476
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5608
{
	z-index: 31;
	height: 40px;
}

#u5608-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 31;
	top: 0px;
}

#u5491
{
	z-index: 63;
	width: 60px;
	top: 0px;
	left: 0px;
}

#u7497
{
	z-index: 65;
	width: 230px;
	height: 40px;
	top: 0px;
	left: 80px;
}

.ie #u7497
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5650
{
	z-index: 66;
	min-height: 25px;
	padding-bottom: 5px;
}

#u9152
{
	z-index: 67;
	width: 208px;
	margin-right: -10000px;
	left: 87px;
}

#u4002
{
	z-index: 69;
	width: 121px;
	min-height: 25px;
	margin-right: -10000px;
}

#u4004
{
	z-index: 68;
	width: 70px;
	min-height: 25px;
	margin-right: -10000px;
	left: 138px;
}

#u5650-bw
{
	z-index: 66;
	min-height: 25px;
	margin-top: 436px;
}

#pu5615
{
	width: 0.01px;
	margin-top: 4px;
}

#u5615,#u5615-bw
{
	z-index: 16;
	height: 30px;
}

#u3609-14
{
	z-index: 17;
	min-height: 20px;
}

#u3609-14-bw
{
	z-index: 17;
	min-height: 20px;
	margin-top: 10px;
}

body
{
	position: relative;
	min-width: 375px;
}

#page .verticalspacer
{
	clear: both;
}

