.version.inseparable /* version checker */
{
	color: #0000F7;
	background-color: #291C1B;
}

@-ms-viewport
{
	width: 375px;
}

@-webkit-viewport
{
	width: 375px;
}

@-o-viewport
{
	width: 375px;
}

@-moz-viewport
{
	width: 375px;
}

@viewport
{
	width: 375px;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 375px;
	min-height: 559px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u8159
{
	z-index: 38;
	height: 180px;
	background: transparent url("../images/scroll_ko_top.png") no-repeat center top;
}

#u8159-bw
{
	z-index: 38;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#accordionu7235
{
	z-index: 102;
}

#u7236
{
	z-index: 103;
}

#u7330-3
{
	z-index: 104;
	min-height: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7330-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	margin: 0px;
}

#u7237
{
	z-index: 107;
	padding-bottom: 46px;
}

#pu7901
{
	width: 0.01px;
	position: relative;
}

#u7901
{
	z-index: 130;
	width: 125px;
	margin-right: -10000px;
}

#u7899
{
	z-index: 128;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7897
{
	z-index: 126;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#u7895
{
	z-index: 124;
	width: 125px;
	margin-right: -10000px;
}

#u7893
{
	z-index: 122;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7891
{
	z-index: 120;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#u7889
{
	z-index: 118;
	width: 125px;
	margin-right: -10000px;
}

#u7887
{
	z-index: 116;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7885
{
	z-index: 114;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#pu7895,#pu7889,#pu7883
{
	width: 0.01px;
	margin-top: 1px;
	position: relative;
}

#u7883
{
	z-index: 112;
	width: 125px;
	margin-right: -10000px;
}

#u7881
{
	z-index: 110;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7879
{
	z-index: 108;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#accordionu7235-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 102;
	top: 0px;
}

#u5491
{
	z-index: 132;
	width: 60px;
	top: 0px;
	left: 0px;
}

#u5608
{
	z-index: 100;
	height: 40px;
}

#u5608-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 100;
	top: 0px;
}

#u5603
{
	z-index: 101;
	height: 40px;
}

#u5603-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 101;
	top: 0px;
}

#top
{
	position: relative;
}

#u7497
{
	z-index: 134;
	width: 230px;
	height: 40px;
	top: 0px;
	left: 80px;
}

#u9142
{
	z-index: 40;
	height: 100px;
}

.ie #u7497,.ie #u9142
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u9142-bw
{
	z-index: 40;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 40px;
}

#u8219
{
	z-index: 39;
	width: 375px;
	height: 519px;
	background-color: transparent;
	position: fixed;
	top: 40px;
	left: 0px;
}

#U9381_animation
{
	width: 375px;
	height: 519px;
	border: none;
}

#fragrance
{
	margin-top: 167px;
	position: relative;
}

#pu8199-11
{
	width: 0.01px;
	margin-top: 77px;
}

#u8199-11
{
	z-index: 27;
	width: 230px;
	min-height: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
}

#u8199-4,#u8199-9
{
	font-size: 15px;
	line-height: 18px;
	padding-left: 30px;
	padding-top: 10px;
	color: #8D2A93;
}

#buttonu8169
{
	z-index: 64;
	width: 185px;
	border-color: #787878;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	left: 189px;
}

#u8172-6
{
	z-index: 67;
	width: 185px;
	min-height: 30px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu8169.ButtonSelected #u8172-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 185px;
	margin: 0px;
}

#u8172-2,#u8172-4
{
	padding-left: 35px;
}

#u8170
{
	z-index: 65;
	width: 30px;
	background-color: transparent;
	margin-left: 95px;
	margin-top: 4px;
	position: relative;
}

#buttonu8169.ButtonSelected #u8170
{
	width: 30px;
	min-height: 0px;
	margin: 4px 0px 0px 95px;
}

#buttonu8165
{
	z-index: 73;
	width: 185px;
	border-color: #787878;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#buttonu8169.ButtonSelected,#buttonu8165.ButtonSelected
{
	width: 185px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8168-6
{
	z-index: 76;
	width: 185px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu8165.ButtonSelected #u8168-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 185px;
	margin: 0px;
}

#u8168-2,#u8168-4
{
	padding-right: 40px;
}

#u8166
{
	z-index: 74;
	width: 30px;
	background-color: transparent;
	margin-left: 55px;
	margin-top: 4px;
	position: relative;
}

#buttonu8165.ButtonSelected #u8166
{
	width: 30px;
	min-height: 0px;
	margin: 4px 0px 0px 55px;
}

.js #buttonu8169.ose_pre_init,.js #buttonu8165.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#notes
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 300px;
}

#buttonu8173
{
	z-index: 57;
	width: 65px;
	border-color: #787878;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 8px;
	position: relative;
}

#buttonu8173.ButtonSelected
{
	width: 65px;
	min-height: 0px;
	margin: 8px 0px 0px 30px;
}

#u8175
{
	z-index: 58;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u8174-4
{
	z-index: 60;
	width: 60px;
	min-height: 25px;
	background-color: transparent;
	padding-top: 5px;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: left;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#pu8193-19
{
	width: 0.01px;
	margin-top: 10px;
}

#u8193-19
{
	z-index: 2;
	width: 240px;
	min-height: 350px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8199-2,#u8193-2
{
	font-size: 20px;
	line-height: 24px;
	padding-left: 30px;
	padding-top: 10px;
	color: #270337;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u8193-8,#u8193-13,#u8193-17
{
	font-size: 15px;
	line-height: 18px;
	padding-left: 110px;
	padding-top: 10px;
	color: #8D2A93;
}

#u8199-5,#u8193-3,#u8193-9,#u8193-14
{
	font-weight: bold;
}

#u8194
{
	z-index: 21;
	width: 61px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 30px;
}

#u8196
{
	z-index: 23;
	width: 61px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 30px;
}

#u8194_img,#u8196_img
{
	margin: -2px;
}

#u8191
{
	z-index: 25;
	width: 61px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 30px;
}

#u8194_clip,#u8196_clip,#u8191_clip
{
	overflow: hidden;
	width: 61px;
	height: 61px;
}

#u8191_img
{
	margin: -3px -2px -1px;
}

#buttonu8185
{
	z-index: 41;
	width: 100px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 250px;
}

#buttonu8185.ButtonSelected
{
	width: 100px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
}

#u8186
{
	z-index: 42;
	width: 30px;
	background-color: transparent;
	margin-left: 35px;
	position: relative;
}

#buttonu8185.ButtonSelected #u8186
{
	width: 30px;
	min-height: 0px;
	margin: 0px 0px 0px 35px;
}

#u8188-6
{
	z-index: 44;
	width: 100px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu8185.ButtonSelected #u8188-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 100px;
	margin: 0px;
}

#buttonu8177
{
	z-index: 50;
	width: 65px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 30px;
}

#buttonu8177.ButtonSelected
{
	width: 65px;
	min-height: 0px;
	margin: 290px -10000px 0px 0px;
}

#u8178
{
	z-index: 51;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#buttonu8173.ButtonSelected #u8175,#buttonu8177.ButtonSelected #u8178
{
	width: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8180-4
{
	z-index: 53;
	width: 60px;
	min-height: 25px;
	background-color: transparent;
	padding-top: 5px;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: left;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu8173.ButtonSelected #u8174-4,#buttonu8177.ButtonSelected #u8180-4
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

.js #u8199-11.ose_pre_init,.js #buttonu8173.ose_pre_init,.js #u8193-19.ose_pre_init,.js #u8194.ose_pre_init,.js #u8196.ose_pre_init,.js #u8191.ose_pre_init,.js #buttonu8185.ose_pre_init,.js #buttonu8177.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u5650
{
	z-index: 135;
	min-height: 25px;
	padding-bottom: 5px;
}

#u9152
{
	z-index: 136;
	width: 208px;
	margin-right: -10000px;
	left: 87px;
}

#u4002
{
	z-index: 138;
	width: 121px;
	min-height: 25px;
	margin-right: -10000px;
}

#u4004
{
	z-index: 137;
	width: 70px;
	min-height: 25px;
	margin-right: -10000px;
	left: 138px;
}

#u5650-bw
{
	z-index: 135;
	min-height: 25px;
}

#pu5615
{
	width: 0.01px;
	margin-top: 4px;
}

#u5615,#u5615-bw
{
	z-index: 85;
	height: 30px;
}

#u3609-14
{
	z-index: 86;
	min-height: 20px;
}

#u3609-14-bw
{
	z-index: 86;
	min-height: 20px;
	margin-top: 10px;
}

body
{
	position: relative;
	min-width: 375px;
}

#page .verticalspacer
{
	clear: both;
}

