.version.that_chick /* version checker */
{
	color: #0000F4;
	background-color: #F6B068;
}

@-ms-viewport
{
	width: 375px;
}

@-webkit-viewport
{
	width: 375px;
}

@-o-viewport
{
	width: 375px;
}

@-moz-viewport
{
	width: 375px;
}

@viewport
{
	width: 375px;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 375px;
	min-height: 559px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u8619
{
	z-index: 40;
	height: 180px;
	background: transparent url("../images/scroll_ko_top.png") no-repeat center top;
}

#u8619-bw
{
	z-index: 40;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#accordionu7235
{
	z-index: 104;
}

#u7236
{
	z-index: 105;
}

#u7330-3
{
	z-index: 106;
	min-height: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7330-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	margin: 0px;
}

#u7237
{
	z-index: 109;
	padding-bottom: 46px;
}

#pu7901
{
	width: 0.01px;
	position: relative;
}

#u7901
{
	z-index: 132;
	width: 125px;
	margin-right: -10000px;
}

#u7899
{
	z-index: 130;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7897
{
	z-index: 128;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#u7895
{
	z-index: 126;
	width: 125px;
	margin-right: -10000px;
}

#u7893
{
	z-index: 124;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7891
{
	z-index: 122;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#u7889
{
	z-index: 120;
	width: 125px;
	margin-right: -10000px;
}

#u7887
{
	z-index: 118;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7885
{
	z-index: 116;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#pu7895,#pu7889,#pu7883
{
	width: 0.01px;
	margin-top: 1px;
	position: relative;
}

#u7883
{
	z-index: 114;
	width: 125px;
	margin-right: -10000px;
}

#u7881
{
	z-index: 112;
	width: 123px;
	margin-right: -10000px;
	left: 126px;
}

#u7879
{
	z-index: 110;
	width: 125px;
	margin-right: -10000px;
	left: 250px;
}

#accordionu7235-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 104;
	top: 0px;
}

#u5491
{
	z-index: 134;
	width: 60px;
	top: 0px;
	left: 0px;
}

#u5608
{
	z-index: 102;
	height: 40px;
}

#u5608-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 102;
	top: 0px;
}

#u5603
{
	z-index: 103;
	height: 40px;
}

#u5603-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 103;
	top: 0px;
}

#top
{
	position: relative;
}

#u7497
{
	z-index: 136;
	width: 230px;
	height: 40px;
	top: 0px;
	left: 80px;
}

#u9147
{
	z-index: 42;
	height: 100px;
}

.ie #u7497,.ie #u9147
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u9147-bw
{
	z-index: 42;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 40px;
}

#u8634
{
	z-index: 41;
	width: 375px;
	height: 519px;
	background-color: transparent;
	position: fixed;
	top: 40px;
	left: 0px;
}

#U9357_animation
{
	width: 375px;
	height: 519px;
	border: none;
}

#fragrance
{
	margin-top: 167px;
	position: relative;
}

#pu8621-11
{
	width: 0.01px;
	margin-top: 77px;
}

#u8621-11
{
	z-index: 29;
	width: 230px;
	min-height: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
}

#u8621-4,#u8621-9
{
	font-size: 15px;
	line-height: 18px;
	padding-left: 30px;
	padding-top: 10px;
	color: #8D2A93;
}

#buttonu8605
{
	z-index: 66;
	width: 185px;
	border-color: #787878;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	left: 189px;
}

#u8606-6
{
	z-index: 69;
	width: 185px;
	min-height: 30px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu8605.ButtonSelected #u8606-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 185px;
	margin: 0px;
}

#u8606-2,#u8606-4
{
	padding-left: 35px;
}

#u8607
{
	z-index: 67;
	width: 30px;
	background-color: transparent;
	margin-left: 95px;
	margin-top: 4px;
	position: relative;
}

#buttonu8605.ButtonSelected #u8607
{
	width: 30px;
	min-height: 0px;
	margin: 4px 0px 0px 95px;
}

#buttonu8599
{
	z-index: 75;
	width: 185px;
	border-color: #787878;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#buttonu8605.ButtonSelected,#buttonu8599.ButtonSelected
{
	width: 185px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8600-6
{
	z-index: 78;
	width: 185px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu8599.ButtonSelected #u8600-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 185px;
	margin: 0px;
}

#u8600-2,#u8600-4
{
	padding-right: 40px;
}

#u8601
{
	z-index: 76;
	width: 30px;
	background-color: transparent;
	margin-left: 55px;
	margin-top: 4px;
	position: relative;
}

#buttonu8599.ButtonSelected #u8601
{
	width: 30px;
	min-height: 0px;
	margin: 4px 0px 0px 55px;
}

.js #buttonu8605.ose_pre_init,.js #buttonu8599.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#notes
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 280px;
}

#buttonu8590
{
	z-index: 59;
	width: 65px;
	border-color: #787878;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 5px;
	position: relative;
}

#buttonu8590.ButtonSelected
{
	width: 65px;
	min-height: 0px;
	margin: 5px 0px 0px 30px;
}

#u8592
{
	z-index: 60;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u8591-4
{
	z-index: 62;
	width: 60px;
	min-height: 25px;
	background-color: transparent;
	padding-top: 5px;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: left;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#pu8581-21
{
	width: 0.01px;
	margin-top: 15px;
}

#u8581-21
{
	z-index: 2;
	width: 240px;
	min-height: 350px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8621-2,#u8581-2
{
	font-size: 20px;
	line-height: 24px;
	padding-left: 30px;
	padding-top: 10px;
	color: #270337;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u8581-8,#u8581-15,#u8581-19
{
	font-size: 15px;
	line-height: 18px;
	padding-left: 110px;
	padding-top: 10px;
	color: #8D2A93;
}

#u8621-5,#u8581-3,#u8581-9,#u8581-16
{
	font-weight: bold;
}

#u8582
{
	z-index: 23;
	width: 61px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 30px;
}

#u8577
{
	z-index: 25;
	width: 61px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 30px;
}

#u8582_img,#u8577_img
{
	margin: -2px;
}

#u8579
{
	z-index: 27;
	width: 61px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 30px;
}

#u8582_clip,#u8577_clip,#u8579_clip
{
	overflow: hidden;
	width: 61px;
	height: 61px;
}

#u8579_img
{
	margin: -3px -2px -1px;
}

#buttonu8594
{
	z-index: 43;
	width: 100px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 250px;
}

#buttonu8594.ButtonSelected
{
	width: 100px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
}

#u8596
{
	z-index: 44;
	width: 30px;
	background-color: transparent;
	margin-left: 35px;
	position: relative;
}

#buttonu8594.ButtonSelected #u8596
{
	width: 30px;
	min-height: 0px;
	margin: 0px 0px 0px 35px;
}

#u8595-6
{
	z-index: 46;
	width: 100px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu8594.ButtonSelected #u8595-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 100px;
	margin: 0px;
}

#buttonu8610
{
	z-index: 52;
	width: 65px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 30px;
}

#buttonu8610.ButtonSelected
{
	width: 65px;
	min-height: 0px;
	margin: 290px -10000px 0px 0px;
}

#u8611
{
	z-index: 53;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#buttonu8590.ButtonSelected #u8592,#buttonu8610.ButtonSelected #u8611
{
	width: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8613-4
{
	z-index: 55;
	width: 60px;
	min-height: 25px;
	background-color: transparent;
	padding-top: 5px;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: left;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu8590.ButtonSelected #u8591-4,#buttonu8610.ButtonSelected #u8613-4
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

.js #u8621-11.ose_pre_init,.js #buttonu8590.ose_pre_init,.js #u8581-21.ose_pre_init,.js #u8582.ose_pre_init,.js #u8577.ose_pre_init,.js #u8579.ose_pre_init,.js #buttonu8594.ose_pre_init,.js #buttonu8610.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u5650
{
	z-index: 137;
	min-height: 25px;
	padding-bottom: 5px;
}

#u9152
{
	z-index: 138;
	width: 208px;
	margin-right: -10000px;
	left: 87px;
}

#u4002
{
	z-index: 140;
	width: 121px;
	min-height: 25px;
	margin-right: -10000px;
}

#u4004
{
	z-index: 139;
	width: 70px;
	min-height: 25px;
	margin-right: -10000px;
	left: 138px;
}

#u5650-bw
{
	z-index: 137;
	min-height: 25px;
}

#pu5615
{
	width: 0.01px;
	margin-top: 4px;
}

#u5615,#u5615-bw
{
	z-index: 87;
	height: 30px;
}

#u3609-14
{
	z-index: 88;
	min-height: 20px;
}

#u3609-14-bw
{
	z-index: 88;
	min-height: 20px;
	margin-top: 10px;
}

body
{
	position: relative;
	min-width: 375px;
}

#page .verticalspacer
{
	clear: both;
}

