/* ========================= COLOR(S) ======================== */
/*
red: #d31245;
dk red: #951537;
*/



/* ========== REF: MICRO-CLEARFIX (ref: http://themergency.com/css-clearfix-demystified/) ========== */

.clearFix:before, .clearFix:after {
	content: "";
	display: table;
}

.clearFix:after {
	clear: both;
}

.clearFix {
	zoom: 1;
}



/* ========================= GLOBAL ======================== */

html, body {
	/*border: 3px #FF0000 inset;*/
/*
	background-image: url(../../RDSlookfinder/img/bg.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
*/
	/*mix-blend-mode: multiply;*/
	/*background-blend-mode: multiply;*/
/*
	width: 100;
	height: 100%;

	width: 1536px;
	height: 2048px;
*/
	/*width: 768px !important;
	height: 1024px !important;*/

	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: "Futura", sans-serif;
	font-size: 13px;
	/*line-height: 18px;*/
	line-height: 1em;
	color: #333;

	/*height: 98.046875%;*/
	/*height: 80%;*/

	margin: 0 auto !important;
	padding: 0;

	/*margin: 5% auto !important;
	padding: 0;*/

	/*position: fixed;*/
}

html {
	/*border: 3px #00FF00 inset !important;*/

/*
	background-image: url(../img/bg_iPad.png);
	background-repeat: no-repeat;
	background-position: top center;
*/
	/*background-size: cover;*/
	/*background-size: 1977px 2695px;*/
	/*background-size: 988.5px 1347.5px;*/
	/*background-size: 1980px 2750px;*/
/*	background-size: 990px 1375px;*/

/*
	width: 1000px;
	height: 100%;
*/

	width: 768px !important;
	height: 1024px !important;

/*
	mix-blend-mode: multiply;
	background-blend-mode: multiply;
*/

/*	margin: 5% auto !important;*/
/*
	margin: 0 !important;
	padding: 0;
*/
}

body {
	/*border: 3px #0000FF inset !important;*/

	width: 768px !important;
	height: 1024px !important;

	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
/*
	mix-blend-mode: multiply;
	background-blend-mode: multiply;
*/

	/*margin: 5% auto !important;*/
/*
	margin: 140px auto !important;
	padding: 0;
*/
/*
	margin: 0 !important;
	padding: 0;
*/
}

#content {
	border: none;
	/*border: 5px #FF00FF inset !important;*/

/*
	background-image: url(../../RDSlookfinder/img/bg.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;

	mix-blend-mode: multiply;
	background-blend-mode: multiply;
*/

/*
	width: 99%;
	height: 99%;
*/
	width: 768px !important;
	height: 1024px !important;

	margin: 0;
	padding: 0;

	/*position: fixed;*/
	position: relative;
	overflow: hidden;

	top: 0;
	right: 0;
}

/*
#contentBG {
	border: none;
	border: 5px #FF00FF inset !important;


	background-image: url(../../RDSlookfinder/img/bg.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;

	mix-blend-mode: multiply;
	background-blend-mode: multiply;



	width: 99%;
	height: 99%;

	width: 768px !important;
	height: 1024px !important;

	margin: 0;
	padding: 0;

	position: fixed;
	position: relative;
	overflow: hidden;

	top: 0;
	right: 0;
}
*/



/* ========================= NAV ========================= */

/* ------------------------- NAV - BUTTONS ------------------------- */

button {
	width: 25%;
	/*height: 3.75%;*/
	height: 5%;
/*
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d31245), color-stop(1, #951537) );
	background: -moz-linear-gradient( center top, #d31245 5%, #951537 100% );
	/*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d31245', endColorstr='#951537');*/

	background-color: #ededed;
/*
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;

	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;

	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;

	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
*/
	text-indent: 0;

	border: 1px solid #e63c68;

	display: inline-block;

	color: #FFFFFF;
	font-family: "Futura", sans-serif;
	font-size: 1.125em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .05em;
}

button: hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	/*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');*/
	background-color: #dfdfdf;
}

button: active {
	position: relative;
	top: 1px;
}

audio {
	border: 2px #FF00FF inset;

	width: 2%;
	height: 2%;

	position: absolute;
	top: 2.5%;
	/*left: 30%;*/
	right: 30%;
}

.ringBtn {
	/*border: 2px #00FFFF inset;*/

	font-size: 1em;
	line-height: 1em;

	position: absolute;
	top: 2.5%;
	right: 30%;
	/*z-index: 9998;*/
}

.shopListBtn {
	/*border: 5px #00FF00 inset;*/

	width: 32.5%;
	height: 6.875%;

	position: absolute;
/*
	top: 2.5%;
	right: 2.5%;
*/
	top: 0;
	right: 0;

	padding-top: 2.5%;

	/*z-index: 9998;*/
}

.emptyListBtn {
	/*border: 2px #00FFFF inset;*/

	font-size: .3125em;

	width: 30%;
	vertical-align: top;

	position: relative;
	/*right: -16.25%;*/
	/*top: -15%;*/
	left: 12.5%;

	margin: -1.25% 0 0 0;
	padding: .75%;
}

.prodListBtn {
	/*border: 2px #00FFFF inset;*/

	width: 100%;

	font-size: 1em;

	margin: 5% 0 0 0;
	padding: 5%;

	float: inherit;
}

.prodDetailBtn {
	/*border: 2px #00FFFF inset;*/

	margin: 0;
	padding: 0;

	position: absolute;
	top: 2.5%;
	/*right: 2.5%;*/
	left: 35%;
}

.prodDetailListBtn {
	/*border: 2px #00FFFF inset;*/

	margin: 0;
	padding: 0;

	position: absolute;
	top: 2.5%;
	left: 7.5%;
}


/* ------------------------- NAV - LOOKS ------------------------- */

.lookNav {
	/*border: 2px #000000 inset !important;*/

	font-family: "Futura", sans-serif;
	font-size: 1.25em;
	font-weight: 400;

	width: 22.5%;
	height: 50% !important;

	position: absolute;
	top: 13.75%;
	right: 5%;

	margin: 0;
	padding: 0;
}

/*.lookNav form, .lookNav fieldset, .lookNav legend, .lookNav select, .lookNav option {*/
.lookNav form, .lookNav fieldset, .lookNav legend, .lookNav select {
	/*border: 2px #FF00FF inset;*/
	border: none;

	font-family: inherit;

	width: 100%;

	margin: 0;
	padding: 0;
}

.lookNav select {
	/*border: 2px #FF00FF inset;*/

	font-size: 1.125em;
	text-transform: uppercase;

	margin: 3.75% 0 7.5% 0;
	padding: 0;
}

.lookNav button {
	/*border: 2px #FF00FF inset;*/

	border: none;	
	background: none;

	width: 100%;
	height: 10%;

	color: #d31245;
	font-size: 1.75em;
	font-weight: 400;
	text-align: center;
	text-indent: 5%;
	text-transform: uppercase;
	text-decoration: underline;
	cursor: auto;

	margin: 10% 0 0 0;
	padding: 0;
	position: relative;
}

.lookHed {
	/*border: 2px #00FFFF inset;*/

	width: 120%;
	height: .75em;

	color: #000000;
	font-family: "Futura", sans-serif;
	font-size: 2.5em;
	font-weight: 500;
	text-align: right;
	text-transform: uppercase;

	margin: 0 0 0 -20%;
	padding: 0;
}

.lookDescr {
	/*border: 2px #FF00FF inset;*/

	width: 120%;
	height: 10em;

	color: #000000;
	font-family: "Futura", sans-serif;
	font-size: .75em;
	font-weight: 400;

	margin: 0 0 0 -20%;
	padding: 0;
}

.lookDescrQuote {
	/*border: 2px #00FF00 inset;*/

	font-size: 1.25em;
	font-style: italic;
	line-height: 1.25em;
	letter-spacing: .0125em;
}

.lookDescrAuthor {
	/*border: 2px #0000FF inset;*/

	font-size: .875em;
	text-align: right;
}

/*.reset {*/
#resetBtn {
	/*border: 2px #FFFF00 inset;*/

	font-size: 1.25em;
	text-align: center;

	margin: 0;
	padding: 7.5% 12.5% 0 0;
}

.lookNum {
	/*border: 2px #00FF00 inset;*/

	/*width: 56.25%;*/
	/*width: 86.25%;*/
	width: 92.5%;
	/*height: 25% !important;*/

	font-size: 2em;
	text-transform: uppercase;
	text-align: left;

	margin: 55% 0 0 2.5%;
	padding: 0;

	float: left;

	position: absolute;
	/*z-index: -9999 !important;*/
}

#thisLookNum {
	/*border: 2px #0000FF inset;*/

	/*width: 38.75%;*/
	/*width: 55%;*/
	width: 50%;
	/*height: 25% !important;*/

	font-weight: 700;
	text-align: right;

	margin: -9.125% 0 0 0;
	padding: 0;

	float: right;
}

.swipeCTA {
	/*border: 2px #FFFF00 inset;*/

	/*width: 86.25%;*/
	/*width: 150%;*/
	width: 112.5%;
	/*height: 25% !important;*/

	opacity: .5;

	/*font-size: 1.25em;*/
	font-size: 1.125em;
	line-height: 1em;
	text-transform: uppercase;
	text-align: center;

	/*margin: 75% 0 0 -30%;*/
	margin: 75% 0 0 -7.5%;
	padding: 0;

	float: left;

	position: absolute;
	/*z-index: -9999 !important;*/
}

.swipeCTA_arrows {
	/*border: 2px #FF0000 inset;*/

	height: 10%;

	opacity: .5;

	margin: -13.125% 0 0 0;
	padding: 0;
}

#swipeCTA_lf {
	/*border: 2px #FF00FF inset;*/

	text-align: left;
	float: left;
}

#swipeCTA_rt {
	/*border: 2px #00FFFF inset;*/

	text-align: right;
	float: right;
}

.arrow {
	/*border: 2px #0000FF inset;*/

	opacity: .25;

	width: 5%;
	height: 10%;

	padding:0px;
	margin:0px;

	position: absolute;
	/*top: 45%;*/
	top: 56.25%;
}

.arrow img {
	/*border: 2px #FF00FF inset;*/

	/*width: 100%;
	height: 100%;*/

	display: block;

	padding: 0 auto;
	margin: 0 auto;
}

#arrow_lf {
	/*border: 2px #0000FF inset;*/

	left: 5.625%;
}

#arrow_rt {
	/*border: 2px #0000FF inset;*/

	/*left: 65%;*/
	right: 30%;
}



/* ========================= LOOKS ========================= */

#swipeMe {
	border: none;
	/*border: 5px #00FF00 inset;*/

	background: none !important;
	mix-blend-mode: multiply;
	background-blend-mode: multiply;

	/*width: 1620px;*/
	/*width: 7680px;*/
	/*width: 100%;*/
	/*width: auto;*/
	width: inherit;
	height: inherit;
	/*height: 100%;*/

	padding: 0px;
	margin: 0px;

	float: left;
	display: inline;
	/*position: fixed;*/
	position: relative;
/*	
	top: 0;
	left: 0;
*/
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;

	/*apply a transfor to kick in the hardware acceleration.  Without this, the first time we add the transform you get odd rendering of the divs (half missing)*/
	-webkit-transform: translate3d(0px,0px,0px);
}

#imgs, #hair {
	border: none;
	/*border: 5px #FF0000 inset;*/
	/*background: none;*/
	
	/*width: 1620px;*/
	/*width: 7680px;*/
	height: inherit;
	/*height: 100%;*/

	padding: 0px;
	margin: 0px;

	float: left;
	display: inline;

	/*mix-blend-mode: inherit;*/
	mix-blend-mode: multiply;
	/*background-blend-mode: multiply;*/

/*	
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	
	apply a transfor to kick in the hardware acceleration.  Without this, the first time we add the transform you get odd rendering of the divs (half missing) 
	-webkit-transform: translate3d(0px,0px,0px); 
*/
}
/*
#imgs {
	border: 5px #0000FF inset;

	mix-blend-mode: inherit;
	mix-blend-mode: multiply;
	background-blend-mode: multiply;
}
*/
#hair {
	/*border: 5px #0000FF inset;*/

	/*height: 99.51%;*/
	/*height: 99%;*/
	height: inherit;

	position: absolute;
	top: 0%;
	left: 0%;

	/*mix-blend-mode: inherit;*/
	/*mix-blend-mode: multiply;*/
	/*background-blend-mode: multiply;*/
}

#imgs img, #hair img {
	border: none;
	/*border: 1px #FF00FF inset;*/
	
	/*width: auto;*/
	height: inherit;
	/*height: 100%;*/

	padding:0px;
	margin:0px;

	/*mix-blend-mode: inherit;*/
	/*mix-blend-mode: multiply;*/
	/*background-blend-mode: multiply;*/

	/*apply a transfor to kick in the hardware acceleration.  Without this, the first time we add the transform you get odd rendering of the divs (half missing) */
	/*-webkit-transform: translate3d(0px,0px,0px);*/
}



/* ========================= PRODUCT MENU (at the bottom of the page) ========================= */

.prodMenu {
	border: none;
	/*border: 2px #FF00FF inset;*/

	background-color: rgba(0,0,0,0.3);

	width: 100%;
	/*height: 20.318725099602%;*/
	height: 26.25%;

	margin: 0;
	padding: 0;

	position: relative;
	/*position: fixed;*/
	bottom: 26.25%;
	/*bottom: 22.5%;*/
	/*top: 89.641434262948%;*/
	/*overflow: hidden;*/
	overflow: scroll;
}

.prodContainer {
	border: none;
	/*border: 2px #00FF00 inset !important;*/

	/*background-color: rgba(0,0,0,0.4);*/

	/*width: 1000px;
	height: 408px;*/
	height: 100%;
	/*height: inherit;*/

	/*width: 65.104166666667%;*/
	/*width: 326.25%;*/
	width: 100%;
	/*width: auto;*/
	/*height: inherit;*/
	/*height: 50%;*/

	/*margin: -20% 0 0 0;*/
	margin: 0;
	padding: 0;

	position: relative;
	/*position: absolute;*/
	/*bottom: 0;
	overflow: visible;*/
	
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	
	/*apply a transfor to kick in the hardware acceleration.  Without this, the first time we add the transform you get odd rendering of the divs (half missing) */
	-webkit-transform: translate3d(0px,0px,0px); 
}

.sectContainer {
	border: none;
	/*border: 2px #FF00FF inset;*/

	/*background-color: rgba(0,0,0,0.4);*/

	/*width: 65.104166666667%;
	height: 20.318725099602%;*/
	/*height: 100%;*/
	height: inherit;
	/*width: 100%;*/
	/*width: 500px;*/
	/*width: auto;*/
	/*height: 20.318725099602%;*/
	/*height: 170px;*/
	/*height: 220px;*/

	margin: 0;
	padding: 0;

	float: left;
}

.sectHed {
	border: none;
	/*border: 2px #FF00FF inset;*/

	/*background-color: rgba(255,255,255,0.3);*/

	height: 10%;

	font-size: 1.125em;
	font-weight: 900;
	/*text-transform: uppercase;*/
	/*text-indent: 2.5%;*/
	text-indent: 10px;
	line-height: 2em;
	baseline-shift: -5%;

	width: 97.5%;

	margin: 0;
	/*padding: 1.25% 0 1.25% 2.5%;
	margin: 1.25% 0 1.25% 1.25%;*/
	padding: 0;
}

.sectProdContainer {
	/*border: 2px #00FFFF inset;*/

	/*background-color: rgba(0,0,0,0.3);*/
/*
	background: -webkit-gradient( linear, left top, right top, color-stop(0.05, #666666), color-stop(1, #888888) );
	background: -moz-linear-gradient( center top, #666666 5%, #888888 100% );
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#888888');
*/
	background: -webkit-gradient( linear, left top, right top, from(rgba(50,50,50,0.3)), to(rgba(135,135,135,0.3)) );
	background: -moz-linear-gradient( rgba(50, 50, 50, 0.3) 0%, rgba(135, 135, 135, 0.3) 30% );
	/*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#888888');*/

	/*line-height: 2.5em;*/

	width: 100%;
	/*width: auto;*/
	/*height: 87.745098039216%;*/
	/*height: 17.828685258964%;*/
	/*height: 220px;*/
	/*height: 100%;*/
	height: inherit;

	margin: 0;
	padding: 0;

	display:​table;

	/*bottom: 0;
	left: .625%;*/
}


.sectProdContainer a:link, .sectProdContainer a:visited, .sectProdContainer a:hover, .sectProdContainer a:active {
	/*border: 2px #FFFF00 inset;*/

	color: #FFFFFF;

	text-decoration: none;
}


.sectProd {
	/*border: 2px #00FF00 inset;*/

	/*background-color: rgba(0,0,0,0.3);*/

	color: #FFFFFF;

	/*width: 20%;*/
	width: 125px;
	/*height: 100%;*/
	/*height: 170px;*/

	margin: 0;
	/*padding: 2.5%;*/
	/*padding: 12.5px;*/
	padding: 2.5px 12.5px 12.5px 12.5px ;

	float: left;
}

.sectProdHed {
	/*border: 2px #00FF00 inset;*/

	width: 100%;
	/*width: inherit;*/
	height: 45px;

	display:table-cell;
	vertical-align:bottom;

	margin: 0;
	padding: 0;
}

.sectProd img {
	/*border: 2px #FF00FF inset;*/

	width: 100%;
	/*width: inherit;*/
	/*height: 65%;*/

	margin: 0;
	padding: 5% 0;
}

/*
.sectProdContainer form {
	border: 2px #FFFF00 inset;

	width: 100%;

	text-align: left;

	margin: 0;
	padding: 0;

	float: right;
}
*/

.sectProdContainer label {
	/*border: 2px #00FFFF inset;*/

	/*width: 100%;*/
	width: 80%;
	height: 100%;

	text-align: left;
	/*cursor: pointer;*/

	margin: 0;
	padding: 0 0 10% 0;

	display: block;

	float: left;
}

/*input[type=checkbox] {*/
.sectProdContainer input {
	/*border: 2px #0000FF inset;*/

	/*display: none;*/
	width: 25px;
	height: 25px;
/*
	width: 27.5px;
	height: 27.5px;
*/
	margin: 0;
	padding: 0;

	float: right;
}

.addToList {
/*
	border: 5px #00FF00 inset !important;
	background: #00FF00;

	color: #FFFFFF;
	text-align: right;
*/	

	border: 1px solid #e63c68;
	background-color: #ededed;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d31245), color-stop(1, #951537) );
	background: -moz-linear-gradient( center top, #d31245 5%, #951537 100% );

	width: 100%;
	height: auto;

	color: #FFFFFF;
	font-family: "Futura", sans-serif;
	font-size: 1.125em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .05em;

	display: inline-block;

	margin: 0;
	padding: 1.25%;

	position: absolute;
	left: -1.25%;
	bottom: 0;
	/*top: 100.5%;*/
	/*right: .125%;*/
	/*z-index: 9999 !important;*/
}






/* ========================= MODAL WINDOW - GENERAL (ref: http://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/) ========================= */

.modalWindow {
	/*border: 5px #FFFF00 inset;*/

	background: rgba(0,0,0,0.8);
	opacity: 0;

	width: 768px !important;
	height: 1024px !important;

	font-family: "Futura", sans-serif;

	position: absolute;
	bottom: 0;
	/*right: 0;
	bottom: 0;*/
	left: 0;

	/*position: inherit;*/

	pointer-events: none;

	-webkit-transition: opacity 250ms ease-in;
	-moz-transition: opacity 250ms ease-in;
	transition: opacity 250ms ease-in;

	/*margin: 5% auto !important;
	padding: 0;*/

	margin: 0 auto !important;
	padding: 0;
	
	/*margin: inherit !important;
	padding: inherit !important;*/
}

/*
a.modalHed:link, a.modalHed:visited, a.modalHed:hover, a.modalHed:active {
	border: 2px #FFFF00 inset;

	color: #FFFFFF !important;
	text-decoration: none !important;
}
*/

a:-webkit-any-link {
	color: #FFFFFF;
	text-decoration: none;
	cursor: auto;
}

.modalWindow:target {
	opacity: 1;
	pointer-events: auto;
}

.modalWindow > div {
	/*border: 2px #00FF00 inset;*/

	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);

	width: 88.75%;

	margin: 0 auto;
	padding: 2.5%;

	position: relative;
}

.close {
	border-radius: 10px;
	background: #d31245;

	color: #FFFFFF;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	line-height: 25px;
	text-decoration: none;

	position: absolute;
	right: -15px;
	top: -15px;
	width: 130px;
	height: 25px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

	-webkit-box-shadow: 1px 1px 3px #000;
	-moz-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
	background: #606061;
}

.modalWindow .modalHed {
	/*border: 2px #00FF00 inset;*/

	background: none;
	width: 94.5%;

	color: #FFFFFF;
	font-size: 3.75em;
	font-weight: 500;
	text-transform: uppercase;

	margin: 8.75% auto 6.25% auto;
	padding: 0;
}

.modalContent {
	/*border: 2px #FF00FF inset;*/

	height: 80%;

	font-weight: 500;
	position: absolute;
	/*bottom: 16.25% !important;*/
	bottom: 0 !important;
}



/* ========================= MODAL WINDOW - PRODUCT DETAIL ========================= */

#thisProductContent {
	/*border: 2px #00FFFF inset;*/

	height: 85%;
}

.prodDetail {
	/*border: 2px #00FFFF inset;*/
	/*opacity: .5;*/

	height: 50%;

	margin: 12.5% 0 0 0;
	/*padding: 5%;*/
	padding: 0 0 5% 5%;

	overflow-y: auto;
}

.prodDetailImage {
	/*border: 2px #FF0000 inset;*/

	width: 50%;

	margin: 0 0 0 2.5%;
	padding: 0;

	float: right;
}

.prodDetailImage img {
	/*border: 2px #00FF00 inset;*/

	width: 100%;

	margin: 0;
	padding: 0;
}

.prodDetailName {
	/*border: 2px #FF00FF inset;*/

	width: auto;
}

.prodDetail h1 {
	/*border: 2px #FFFF00 inset;*/

	color: #d31245;
	font-size: 2em;
	line-height: 1em;

	margin: 0;
	padding: 0;
}

.prodDetail h2 {
	/*border: 2px #FF00FF inset;*/

	font-size: 1.75em;
	line-height: 2em;

	margin: 0;
	padding: 0;
}

.prodDetail p {
	/*border: 2px #FF0000 inset;*/

	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.25em;

	margin: 0;
	padding: 0;
}


/* ------------------------- PRODUCT DETAIL - Recommended ------------------------- */

.prodRec {
	/*border: 2px #FF00FF inset;*/

	width: inherit;
	line-height: 2em;

	margin: 0;
	padding: 0;

	position: absolute;
	bottom: 2.5%;
}

.prodRec h2 {
	/*border: 2px #FF00FF inset;*/

	/*font-size: 3em;*/
	font-weight: 600;
	line-height: .25em;

	margin: 0;
	padding: 0;
}

.prodRec h3 {
	/*border: 2px #FFFF00 inset;*/

	color: #d31245;
	font-size: 1.375em;
	font-weight: 500;
	line-height: 1em;

	margin: 0;
	padding: 0;
}

.prodRec p {
	/*border: 2px #FF00FF inset;*/

	font-size: 1.25em;
	font-weight: 500;
	line-height: 1.25em;

	margin: 0;
	padding: 0;
}

.prodRecProd {
	/*border: 2px #00FFFF inset;*/

	width: 28.75%;

	margin: 0 2.5% 0 0;
	padding: 0;

	float: left;
}

.prodRecProd img {
	/*border: 2px #FF00FF inset;*/

	width: 100%;

	margin: 0;
	padding: 0;
}



/* ========================= MODAL WINDOW - SHOPPING LIST ========================= */

.modalList {
	/*border: 2px #FF0000 inset;*/

	height: 98.75%;

	/*position: absolute;*/
	overflow: hidden;

	/*-webkit-transform: translate3d(0px,0px,0px);*/
}

.listContainer {
	/*border: 2px #00FF00 inset;*/

	/*position: absolute;*/
}

.prodList {
	/*border: 2px #FFFF00 inset;*/

	width: 100%;

	margin: 0 0 2.5% 0;
	padding: 0;

	float: left;
}

.prodListImg {
	/*border: 2px #00FFFF inset;*/

	width: 22.5%;

	margin: 0;
	padding: 0;

	float: left;
}

.prodListImg img {
	/*border: 2px #FF00FF inset;*/

	width: 100%;
	/*opacity: .5;*/

	margin: 0;
	padding: 0;
}

.prodListDescr {
	/*border: 2px #00FFFF inset;*/

	width: 75%;

	margin: 0 0 0 26.25%;
	padding: 0;
}

.prodList h1 {
	/*border: 2px #FFFF00 inset;*/

	color: #d31245;
	font-size: 1.5em;
	line-height: 1.5em;

	margin: 0;
	padding: 0;
}

.prodList h2 {
	/*border: 2px #FF00FF inset;*/

	font-size: 1.25em;
	line-height: 1.5em;

	margin: 0;
	padding: 0;
}

.prodList p {
	/*border: 2px #FF0000 inset;*/

	width: 70%;

	font-size: 1em;
	font-weight: 300;
	line-height: 1.5em;

	margin: 0;
	padding: 0;

	float: left;
	clear: right;
}

.prodList a {
	/*border: 2px #FF0000 inset;*/
	color: inherit;

	text-decoration: none;
}


/* ------------------------- SHOPPING LIST - Recommended ------------------------- */

.listRec {
	/*border: 2px #FF0000 inset;*/

	width: 25%;

	font-size: 1em;
	line-height: 1.5em;

	margin: 0;
	padding: 0;

	float: right;
}

.listRec h2 {
	/*border: 2px #00FF00 inset;*/

	width: 100%;

	font-size: 1em;
	font-weight: 500;
}

.listRecProd {
	/*border: 2px #00FF00 inset;*/

	width: 47.5%;

	margin: 2.5% 2.5% 0 0;
	padding: 0;
}



/* ========================= MODAL WINDOW - SPLASH SCREEN ========================= */

/*#splash, .splashAnim {*/
#splash {
	/*border: 5px #FFFF00 inset;*/

	background-image: url(../img/app_splash.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;

	/*background-color: #000000;
	opacity: .875;*/

	text-align: center;
/*
	width: 100%;
	height: 100%;
*/
/*
	width: 768px !important;
	height: 1024px !important;
*/
/*
	width: inherit !important;
	height: inherit !important;
*/
	/*opacity: 100 !important;*/

	/*margin: 0 auto !important;
	padding: 0;*/

/*
	top: 15%;
*/
	/*top: 0;
	left: 0;*/

	/*z-index: 99999;*/
	/*z-index: 9999;*/
	z-index: 0 !important;
}

/*
.splashAnim {
.splashAnim object {
	border: 5px #FF00FF inset;
	background: none !important;

	width: inherit !important;
	height: inherit !important;

	margin: 0 !important;
	padding: 0 !important;

	position: absolute !important;
	top: 0;
	left: 0;

	z-index: inherit;
	z-index: 0 !important;
}
*/

/*
#splash .modalContent object {
.splashAnim object {
	border: 5px #00FFFF inset;
	background: none !important;

	position: absolute !important;
	top: 17.5%;
	left: 0;

	z-index: -999 !important;
}
*/

/*
.splashAnim img, .splashAnim video, .splashAnim source {
	border: 2px #FF0000 inset;
	background: none;

	opacity: .25;

	width: inherit !important;
	height: inherit !important;

	margin: 0;
	padding: 0;

	position: absolute;
	top: 0;
	left: 0;
}
*/

#newSessionBtn {
	/*border: 5px #00FFFF inset;*/

	width: 100%;
	height: 100%;

	opacity: 100 !important;

	margin: 0;
	padding: 0;

	position: absolute;
	top: 0;
	left:0;
}

/*
#splashBtn {
	border: 5px #00FF00 inset !important;
}
*/
