.version.index /* version checker */
{
	color: #000016;
	background-color: #CC0FFE;
}

@-ms-viewport
{
	width: 320px;
}

@-webkit-viewport
{
	width: 320px;
}

@-o-viewport
{
	width: 320px;
}

@-moz-viewport
{
	width: 320px;
}

@viewport
{
	width: 320px;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 320px;
	min-height: 528px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 59px;
	width: 0.01px;
}

#u5603
{
	z-index: 32;
	height: 40px;
}

#u5603-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 32;
	top: 0px;
}

#accordionu7235
{
	z-index: 33;
}

#u7236
{
	z-index: 34;
}

#u7330-3
{
	z-index: 35;
	min-height: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7330-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	margin: 0px;
}

#u7237
{
	z-index: 38;
	padding-bottom: 35px;
}

#pu7423
{
	width: 0.01px;
	position: relative;
}

#u7423
{
	z-index: 61;
	width: 106px;
	margin-right: -10000px;
}

#u7464
{
	z-index: 59;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7439
{
	z-index: 57;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#u7479
{
	z-index: 55;
	width: 106px;
	margin-right: -10000px;
}

#u7459
{
	z-index: 53;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7454
{
	z-index: 51;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#u7434
{
	z-index: 49;
	width: 106px;
	margin-right: -10000px;
}

#u7469
{
	z-index: 47;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7429
{
	z-index: 45;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#pu7479,#pu7434,#pu7444
{
	width: 0.01px;
	margin-top: 1px;
	position: relative;
}

#u7444
{
	z-index: 43;
	width: 106px;
	margin-right: -10000px;
}

#u7474
{
	z-index: 41;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7449
{
	z-index: 39;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#accordionu7235-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 33;
	top: 0px;
}

#slideshowu2988
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	margin-left: 256px;
	position: relative;
}

#u2997
{
	position: absolute;
	background-color: transparent;
}

#u2997popup
{
	z-index: 3;
}

#u4969
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5440
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5449
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5458
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5467
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5476
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5608
{
	z-index: 31;
	height: 40px;
}

#u5608-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 31;
	top: 0px;
}

#u5491
{
	z-index: 63;
	width: 60px;
	top: 0px;
	left: 0px;
}

#u7497
{
	z-index: 65;
	width: 215px;
	height: 40px;
	top: 0px;
	left: 60px;
}

.ie #u7497
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7706
{
	z-index: 66;
	min-height: 25px;
	padding-bottom: 5px;
}

#u7709
{
	z-index: 67;
	width: 208px;
	margin-right: -10000px;
	left: 62px;
}

#u7712
{
	z-index: 69;
	width: 121px;
	min-height: 25px;
	margin-right: -10000px;
}

#u7710
{
	z-index: 68;
	width: 70px;
	min-height: 25px;
	margin-right: -10000px;
	left: 138px;
}

#u7706-bw
{
	z-index: 66;
	min-height: 25px;
	margin-top: 406px;
}

#pu5615
{
	width: 0.01px;
	margin-top: 3px;
}

#u5615,#u5615-bw
{
	z-index: 16;
	height: 30px;
}

#u3609-14
{
	z-index: 17;
	min-height: 20px;
}

#u3609-14-bw
{
	z-index: 17;
	min-height: 20px;
	margin-top: 10px;
}

body
{
	position: relative;
	min-width: 320px;
}

#page .verticalspacer
{
	clear: both;
}

