.version.inseparable /* version checker */
{
	color: #0000EF;
	background-color: #5B83A7;
}

@-ms-viewport
{
	width: 320px;
}

@-webkit-viewport
{
	width: 320px;
}

@-o-viewport
{
	width: 320px;
}

@-moz-viewport
{
	width: 320px;
}

@viewport
{
	width: 320px;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 320px;
	min-height: 528px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u6154
{
	z-index: 35;
	height: 180px;
	background: transparent url("../images/scroll_ko_top.png") no-repeat center top;
}

#u6154-bw
{
	z-index: 35;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#accordionu7235
{
	z-index: 99;
}

#u7236
{
	z-index: 100;
}

#u7330-3
{
	z-index: 101;
	min-height: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7330-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	margin: 0px;
}

#u7237
{
	z-index: 104;
	padding-bottom: 35px;
}

#pu7423
{
	width: 0.01px;
	position: relative;
}

#u7423
{
	z-index: 127;
	width: 106px;
	margin-right: -10000px;
}

#u7464
{
	z-index: 125;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7439
{
	z-index: 123;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#u7479
{
	z-index: 121;
	width: 106px;
	margin-right: -10000px;
}

#u7459
{
	z-index: 119;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7454
{
	z-index: 117;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#u7434
{
	z-index: 115;
	width: 106px;
	margin-right: -10000px;
}

#u7469
{
	z-index: 113;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7429
{
	z-index: 111;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#pu7479,#pu7434,#pu7444
{
	width: 0.01px;
	margin-top: 1px;
	position: relative;
}

#u7444
{
	z-index: 109;
	width: 106px;
	margin-right: -10000px;
}

#u7474
{
	z-index: 107;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7449
{
	z-index: 105;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#accordionu7235-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 99;
	top: 0px;
}

#u5491
{
	z-index: 129;
	width: 60px;
	top: 0px;
	left: 0px;
}

#u5608
{
	z-index: 97;
	height: 40px;
}

#u5608-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 97;
	top: 0px;
}

#u5603
{
	z-index: 98;
	height: 40px;
}

#u5603-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 98;
	top: 0px;
}

#top
{
	position: relative;
}

#u7497
{
	z-index: 131;
	width: 215px;
	height: 40px;
	top: 0px;
	left: 60px;
}

#u7657
{
	z-index: 37;
	height: 100px;
}

.ie #u7497,.ie #u7657
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7657-bw
{
	z-index: 37;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 40px;
}

#u6198
{
	z-index: 36;
	width: 320px;
	height: 440px;
	background-color: transparent;
	position: fixed;
	top: 40px;
	left: 0px;
}

#U7904_animation
{
	width: 320px;
	height: 440px;
	border: none;
}

#fragrance
{
	margin-top: 127px;
	position: relative;
}

#pu6131-8
{
	width: 0.01px;
	margin-top: 77px;
}

#u6131-8
{
	z-index: 27;
	width: 200px;
	min-height: 230px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
}

#u6131-4,#u6131-6
{
	font-size: 12px;
	line-height: 14px;
	padding-left: 30px;
	padding-top: 10px;
	color: #8D2A93;
}

#buttonu6156
{
	z-index: 61;
	width: 160px;
	border-color: #787878;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u6159-6
{
	z-index: 64;
	width: 160px;
	min-height: 30px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu6156.ButtonSelected #u6159-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 160px;
	margin: 0px;
}

#u6159-2,#u6159-4
{
	padding-left: 20px;
}

#u6157
{
	z-index: 62;
	width: 30px;
	background-color: transparent;
	margin-left: 75px;
	margin-top: 4px;
	position: relative;
}

#buttonu6156.ButtonSelected #u6157
{
	width: 30px;
	min-height: 0px;
	margin: 4px 0px 0px 75px;
}

#buttonu6160
{
	z-index: 70;
	width: 160px;
	border-color: #787878;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#buttonu6156.ButtonSelected,#buttonu6160.ButtonSelected
{
	width: 160px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6163-6
{
	z-index: 73;
	width: 160px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu6160.ButtonSelected #u6163-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 160px;
	margin: 0px;
}

#u6163-2,#u6163-4
{
	padding-right: 30px;
}

#u6161
{
	z-index: 71;
	width: 30px;
	background-color: transparent;
	margin-left: 50px;
	margin-top: 4px;
	position: relative;
}

#buttonu6160.ButtonSelected #u6161
{
	width: 30px;
	min-height: 0px;
	margin: 4px 0px 0px 50px;
}

.js #buttonu6156.ose_pre_init,.js #buttonu6160.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#pnotes
{
	width: 0.01px;
	margin-top: 11px;
}

#notes
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 5px;
}

#buttonu6168
{
	z-index: 54;
	width: 65px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#buttonu6168.ButtonSelected
{
	width: 65px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6169
{
	z-index: 55;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u6171-4
{
	z-index: 57;
	width: 60px;
	min-height: 25px;
	background-color: transparent;
	padding-top: 5px;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: left;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#pu6142-19
{
	width: 0.01px;
	margin-top: -5px;
}

#u6142-19
{
	z-index: 2;
	width: 200px;
	min-height: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6131-2,#u6142-2
{
	font-size: 15px;
	line-height: 18px;
	padding-left: 30px;
	padding-top: 10px;
	color: #270337;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6142-8,#u6142-13,#u6142-17
{
	font-size: 12px;
	line-height: 14px;
	padding-left: 105px;
	padding-top: 10px;
	color: #8D2A93;
}

#u6142-3,#u6142-9,#u6142-14
{
	font-weight: bold;
}

#u6138
{
	z-index: 21;
	width: 51px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: 30px;
}

#u6140
{
	z-index: 23;
	width: 51px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 30px;
}

#u6143
{
	z-index: 25;
	width: 51px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 30px;
}

#u6138_clip,#u6140_clip,#u6143_clip
{
	overflow: hidden;
	width: 51px;
	height: 51px;
}

#u6138_img,#u6140_img,#u6143_img
{
	margin: -2px;
}

#buttonu6150
{
	z-index: 38;
	width: 100px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 210px;
}

#buttonu6150.ButtonSelected
{
	width: 100px;
	min-height: 0px;
	margin: 200px -10000px 0px 0px;
}

#u6151
{
	z-index: 39;
	width: 30px;
	background-color: transparent;
	margin-left: 35px;
	position: relative;
}

#buttonu6150.ButtonSelected #u6151
{
	width: 30px;
	min-height: 0px;
	margin: 0px 0px 0px 35px;
}

#u6153-6
{
	z-index: 41;
	width: 100px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu6150.ButtonSelected #u6153-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 100px;
	margin: 0px;
}

#buttonu6146
{
	z-index: 47;
	width: 65px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 30px;
}

#buttonu6146.ButtonSelected
{
	width: 65px;
	min-height: 0px;
	margin: 240px -10000px 0px 0px;
}

#u6147
{
	z-index: 48;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#buttonu6168.ButtonSelected #u6169,#buttonu6146.ButtonSelected #u6147
{
	width: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6149-4
{
	z-index: 50;
	width: 60px;
	min-height: 25px;
	background-color: transparent;
	padding-top: 5px;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: left;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu6168.ButtonSelected #u6171-4,#buttonu6146.ButtonSelected #u6149-4
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

.js #u6131-8.ose_pre_init,.js #buttonu6168.ose_pre_init,.js #u6142-19.ose_pre_init,.js #u6138.ose_pre_init,.js #u6140.ose_pre_init,.js #u6143.ose_pre_init,.js #buttonu6150.ose_pre_init,.js #buttonu6146.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u7706
{
	z-index: 132;
	min-height: 25px;
	padding-bottom: 5px;
}

#u7709
{
	z-index: 133;
	width: 208px;
	margin-right: -10000px;
	left: 62px;
}

#u7712
{
	z-index: 135;
	width: 121px;
	min-height: 25px;
	margin-right: -10000px;
}

#u7710
{
	z-index: 134;
	width: 70px;
	min-height: 25px;
	margin-right: -10000px;
	left: 138px;
}

#u7706-bw
{
	z-index: 132;
	min-height: 25px;
	margin-top: 5px;
}

#pu5615
{
	width: 0.01px;
	margin-top: 3px;
}

#u5615,#u5615-bw
{
	z-index: 82;
	height: 30px;
}

#u3609-14
{
	z-index: 83;
	min-height: 20px;
}

#u3609-14-bw
{
	z-index: 83;
	min-height: 20px;
	margin-top: 10px;
}

body
{
	position: relative;
	min-width: 320px;
}

#page .verticalspacer
{
	clear: both;
}

