.version.luscious_pink /* version checker */
{
	color: #000015;
	background-color: #DA68B2;
}

@-ms-viewport
{
	width: 320px;
}

@-webkit-viewport
{
	width: 320px;
}

@-o-viewport
{
	width: 320px;
}

@-moz-viewport
{
	width: 320px;
}

@viewport
{
	width: 320px;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 320px;
	min-height: 528px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u6789
{
	z-index: 37;
	height: 180px;
	background: transparent url("../images/scroll_ko_top.png") no-repeat center top;
}

#u6789-bw
{
	z-index: 37;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#accordionu7235
{
	z-index: 101;
}

#u7236
{
	z-index: 102;
}

#u7330-3
{
	z-index: 103;
	min-height: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7330-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	margin: 0px;
}

#u7237
{
	z-index: 106;
	padding-bottom: 35px;
}

#pu7423
{
	width: 0.01px;
	position: relative;
}

#u7423
{
	z-index: 129;
	width: 106px;
	margin-right: -10000px;
}

#u7464
{
	z-index: 127;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7439
{
	z-index: 125;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#u7479
{
	z-index: 123;
	width: 106px;
	margin-right: -10000px;
}

#u7459
{
	z-index: 121;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7454
{
	z-index: 119;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#u7434
{
	z-index: 117;
	width: 106px;
	margin-right: -10000px;
}

#u7469
{
	z-index: 115;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7429
{
	z-index: 113;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#pu7479,#pu7434,#pu7444
{
	width: 0.01px;
	margin-top: 1px;
	position: relative;
}

#u7444
{
	z-index: 111;
	width: 106px;
	margin-right: -10000px;
}

#u7474
{
	z-index: 109;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7449
{
	z-index: 107;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#accordionu7235-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 101;
	top: 0px;
}

#u5491
{
	z-index: 131;
	width: 60px;
	top: 0px;
	left: 0px;
}

#u5608
{
	z-index: 99;
	height: 40px;
}

#u5608-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 99;
	top: 0px;
}

#u5603
{
	z-index: 100;
	height: 40px;
}

#u5603-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 100;
	top: 0px;
}

#top
{
	position: relative;
}

#u7497
{
	z-index: 133;
	width: 215px;
	height: 40px;
	top: 0px;
	left: 60px;
}

#u7664
{
	z-index: 39;
	height: 100px;
}

.ie #u7497,.ie #u7664
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7664-bw
{
	z-index: 39;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 40px;
}

#u6850
{
	z-index: 38;
	width: 320px;
	height: 440px;
	background-color: transparent;
	position: fixed;
	top: 40px;
	left: 0px;
}

#U7872_animation
{
	width: 320px;
	height: 440px;
	border: none;
}

#fragrance
{
	margin-top: 127px;
	position: relative;
}

#pu6810-8
{
	width: 0.01px;
	margin-top: 77px;
}

#u6810-8
{
	z-index: 29;
	width: 200px;
	min-height: 320px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
}

#u6810-4,#u6810-6
{
	font-size: 12px;
	line-height: 14px;
	padding-left: 30px;
	padding-top: 10px;
	color: #8D2A93;
}

#buttonu6799
{
	z-index: 63;
	width: 160px;
	border-color: #787878;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u6802-6
{
	z-index: 66;
	width: 160px;
	min-height: 30px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu6799.ButtonSelected #u6802-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 160px;
	margin: 0px;
}

#u6802-2,#u6802-4
{
	padding-left: 20px;
}

#u6800
{
	z-index: 64;
	width: 30px;
	background-color: transparent;
	margin-left: 75px;
	margin-top: 4px;
	position: relative;
}

#buttonu6799.ButtonSelected #u6800
{
	width: 30px;
	min-height: 0px;
	margin: 4px 0px 0px 75px;
}

#buttonu6790
{
	z-index: 72;
	width: 160px;
	border-color: #787878;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#buttonu6799.ButtonSelected,#buttonu6790.ButtonSelected
{
	width: 160px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6793-6
{
	z-index: 75;
	width: 160px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu6790.ButtonSelected #u6793-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 160px;
	margin: 0px;
}

#u6793-2,#u6793-4
{
	padding-right: 30px;
}

#u6791
{
	z-index: 73;
	width: 30px;
	background-color: transparent;
	margin-left: 50px;
	margin-top: 4px;
	position: relative;
}

#buttonu6790.ButtonSelected #u6791
{
	width: 30px;
	min-height: 0px;
	margin: 4px 0px 0px 50px;
}

.js #buttonu6799.ose_pre_init,.js #buttonu6790.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#pnotes
{
	width: 0.01px;
	margin-top: 4px;
}

#notes
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 16px;
}

#buttonu6778
{
	z-index: 56;
	width: 65px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#buttonu6778.ButtonSelected
{
	width: 65px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6780
{
	z-index: 57;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u6779-4
{
	z-index: 59;
	width: 60px;
	min-height: 25px;
	background-color: transparent;
	padding-top: 5px;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: left;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#pu6820-21
{
	width: 0.01px;
	margin-top: 1px;
}

#u6820-21
{
	z-index: 2;
	width: 230px;
	min-height: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6810-2,#u6820-2
{
	font-size: 15px;
	line-height: 18px;
	padding-left: 30px;
	padding-top: 10px;
	color: #270337;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6820-6,#u6820-13,#u6820-19
{
	font-size: 12px;
	line-height: 14px;
	padding-left: 105px;
	padding-top: 10px;
	color: #8D2A93;
}

#u6820-3,#u6820-7,#u6820-14
{
	font-weight: bold;
}

#u6823
{
	z-index: 23;
	width: 51px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: 30px;
}

#u6821
{
	z-index: 25;
	width: 51px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 30px;
}

#u6825
{
	z-index: 27;
	width: 51px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 30px;
}

#u6823_clip,#u6821_clip,#u6825_clip
{
	overflow: hidden;
	width: 51px;
	height: 51px;
}

#u6823_img,#u6821_img,#u6825_img
{
	margin: -2px;
}

#buttonu6794
{
	z-index: 40;
	width: 100px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 210px;
}

#buttonu6794.ButtonSelected
{
	width: 100px;
	min-height: 0px;
	margin: 200px -10000px 0px 0px;
}

#u6795
{
	z-index: 41;
	width: 30px;
	background-color: transparent;
	margin-left: 35px;
	position: relative;
}

#buttonu6794.ButtonSelected #u6795
{
	width: 30px;
	min-height: 0px;
	margin: 0px 0px 0px 35px;
}

#u6797-6
{
	z-index: 43;
	width: 100px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu6794.ButtonSelected #u6797-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 100px;
	margin: 0px;
}

#buttonu6782
{
	z-index: 49;
	width: 65px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 30px;
}

#buttonu6782.ButtonSelected
{
	width: 65px;
	min-height: 0px;
	margin: 240px -10000px 0px 0px;
}

#u6784
{
	z-index: 50;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#buttonu6778.ButtonSelected #u6780,#buttonu6782.ButtonSelected #u6784
{
	width: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6783-4
{
	z-index: 52;
	width: 60px;
	min-height: 25px;
	background-color: transparent;
	padding-top: 5px;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: left;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu6778.ButtonSelected #u6779-4,#buttonu6782.ButtonSelected #u6783-4
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

.js #u6810-8.ose_pre_init,.js #buttonu6778.ose_pre_init,.js #u6820-21.ose_pre_init,.js #u6823.ose_pre_init,.js #u6821.ose_pre_init,.js #u6825.ose_pre_init,.js #buttonu6794.ose_pre_init,.js #buttonu6782.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u7706
{
	z-index: 134;
	min-height: 25px;
	padding-bottom: 5px;
}

#u7709
{
	z-index: 135;
	width: 208px;
	margin-right: -10000px;
	left: 62px;
}

#u7712
{
	z-index: 137;
	width: 121px;
	min-height: 25px;
	margin-right: -10000px;
}

#u7710
{
	z-index: 136;
	width: 70px;
	min-height: 25px;
	margin-right: -10000px;
	left: 138px;
}

#u7706-bw
{
	z-index: 134;
	min-height: 25px;
	margin-top: 5px;
}

#pu5615
{
	width: 0.01px;
	margin-top: 3px;
}

#u5615,#u5615-bw
{
	z-index: 84;
	height: 30px;
}

#u3609-14
{
	z-index: 85;
	min-height: 20px;
}

#u3609-14-bw
{
	z-index: 85;
	min-height: 20px;
	margin-top: 10px;
}

body
{
	position: relative;
	min-width: 320px;
}

#page .verticalspacer
{
	clear: both;
}

