.version.ultra_pink /* version checker */
{
	color: #000016;
	background-color: #19CEEB;
}

@-ms-viewport
{
	width: 320px;
}

@-webkit-viewport
{
	width: 320px;
}

@-o-viewport
{
	width: 320px;
}

@-moz-viewport
{
	width: 320px;
}

@viewport
{
	width: 320px;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 320px;
	min-height: 528px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u6894
{
	z-index: 39;
	height: 180px;
	background: transparent url("../images/scroll_ko_top.png") no-repeat center top;
}

#u6894-bw
{
	z-index: 39;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#accordionu7235
{
	z-index: 103;
}

#u7236
{
	z-index: 104;
}

#u7330-3
{
	z-index: 105;
	min-height: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7330-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	margin: 0px;
}

#u7237
{
	z-index: 108;
	padding-bottom: 35px;
}

#pu7423
{
	width: 0.01px;
	position: relative;
}

#u7423
{
	z-index: 131;
	width: 106px;
	margin-right: -10000px;
}

#u7464
{
	z-index: 129;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7439
{
	z-index: 127;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#u7479
{
	z-index: 125;
	width: 106px;
	margin-right: -10000px;
}

#u7459
{
	z-index: 123;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7454
{
	z-index: 121;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#u7434
{
	z-index: 119;
	width: 106px;
	margin-right: -10000px;
}

#u7469
{
	z-index: 117;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7429
{
	z-index: 115;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#pu7479,#pu7434,#pu7444
{
	width: 0.01px;
	margin-top: 1px;
	position: relative;
}

#u7444
{
	z-index: 113;
	width: 106px;
	margin-right: -10000px;
}

#u7474
{
	z-index: 111;
	width: 106px;
	margin-right: -10000px;
	left: 107px;
}

#u7449
{
	z-index: 109;
	width: 106px;
	margin-right: -10000px;
	left: 214px;
}

#accordionu7235-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 103;
	top: 0px;
}

#u5491
{
	z-index: 133;
	width: 60px;
	top: 0px;
	left: 0px;
}

#u5608
{
	z-index: 101;
	height: 40px;
}

#u5608-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 101;
	top: 0px;
}

#u5603
{
	z-index: 102;
	height: 40px;
}

#u5603-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 102;
	top: 0px;
}

#top
{
	position: relative;
}

#u7497
{
	z-index: 135;
	width: 215px;
	height: 40px;
	top: 0px;
	left: 60px;
}

#u7665
{
	z-index: 41;
	height: 100px;
}

.ie #u7497,.ie #u7665
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7665-bw
{
	z-index: 41;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 40px;
}

#u6945
{
	z-index: 40;
	width: 320px;
	height: 440px;
	background-color: transparent;
	position: fixed;
	top: 40px;
	left: 0px;
}

#U7868_animation
{
	width: 320px;
	height: 440px;
	border: none;
}

#fragrance
{
	margin-top: 127px;
	position: relative;
}

#pu6919-10
{
	width: 0.01px;
	margin-top: 77px;
}

#u6919-10
{
	z-index: 29;
	width: 200px;
	min-height: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
}

#u6919-4,#u6919-6,#u6919-8
{
	font-size: 12px;
	line-height: 14px;
	padding-left: 30px;
	padding-top: 10px;
	color: #8D2A93;
}

#buttonu6873
{
	z-index: 65;
	width: 160px;
	border-color: #787878;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u6876-6
{
	z-index: 68;
	width: 160px;
	min-height: 30px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu6873.ButtonSelected #u6876-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 160px;
	margin: 0px;
}

#u6876-2,#u6876-4
{
	padding-left: 20px;
}

#u6874
{
	z-index: 66;
	width: 30px;
	background-color: transparent;
	margin-left: 75px;
	margin-top: 4px;
	position: relative;
}

#buttonu6873.ButtonSelected #u6874
{
	width: 30px;
	min-height: 0px;
	margin: 4px 0px 0px 75px;
}

#buttonu6896
{
	z-index: 74;
	width: 160px;
	border-color: #787878;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#buttonu6873.ButtonSelected,#buttonu6896.ButtonSelected
{
	width: 160px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6899-6
{
	z-index: 77;
	width: 160px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu6896.ButtonSelected #u6899-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 160px;
	margin: 0px;
}

#u6899-2,#u6899-4
{
	padding-right: 30px;
}

#u6897
{
	z-index: 75;
	width: 30px;
	background-color: transparent;
	margin-left: 50px;
	margin-top: 4px;
	position: relative;
}

#buttonu6896.ButtonSelected #u6897
{
	width: 30px;
	min-height: 0px;
	margin: 4px 0px 0px 50px;
}

.js #buttonu6873.ose_pre_init,.js #buttonu6896.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#pnotes
{
	width: 0.01px;
	margin-top: -1px;
}

#notes
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 16px;
}

#buttonu6886
{
	z-index: 58;
	width: 65px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#buttonu6886.ButtonSelected
{
	width: 65px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6887
{
	z-index: 59;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u6889-4
{
	z-index: 61;
	width: 60px;
	min-height: 25px;
	background-color: transparent;
	padding-top: 5px;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: left;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#pu6903-21
{
	width: 0.01px;
	margin-top: 1px;
}

#u6903-21
{
	z-index: 2;
	width: 220px;
	min-height: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6919-2,#u6903-2
{
	font-size: 15px;
	line-height: 18px;
	padding-left: 30px;
	padding-top: 10px;
	color: #270337;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6903-8,#u6903-15,#u6903-19
{
	font-size: 12px;
	line-height: 14px;
	padding-left: 105px;
	padding-top: 10px;
	color: #8D2A93;
}

#u6903-3,#u6903-9,#u6903-16
{
	font-weight: bold;
}

#u6906
{
	z-index: 23;
	width: 51px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: 30px;
}

#u6904
{
	z-index: 25;
	width: 51px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 30px;
}

#u6908
{
	z-index: 27;
	width: 51px;
	border-width: 2px;
	border-style: solid;
	border-color: #C281C6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 30px;
}

#u6906_clip,#u6904_clip,#u6908_clip
{
	overflow: hidden;
	width: 51px;
	height: 51px;
}

#u6906_img,#u6904_img,#u6908_img
{
	margin: -2px;
}

#buttonu6882
{
	z-index: 42;
	width: 100px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 210px;
}

#buttonu6882.ButtonSelected
{
	width: 100px;
	min-height: 0px;
	margin: 200px -10000px 0px 0px;
}

#u6883
{
	z-index: 43;
	width: 30px;
	background-color: transparent;
	margin-left: 35px;
	position: relative;
}

#buttonu6882.ButtonSelected #u6883
{
	width: 30px;
	min-height: 0px;
	margin: 0px 0px 0px 35px;
}

#u6885-6
{
	z-index: 45;
	width: 100px;
	min-height: 35px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#buttonu6882.ButtonSelected #u6885-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 100px;
	margin: 0px;
}

#buttonu6890
{
	z-index: 51;
	width: 65px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 30px;
}

#buttonu6890.ButtonSelected
{
	width: 65px;
	min-height: 0px;
	margin: 240px -10000px 0px 0px;
}

#u6891
{
	z-index: 52;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#buttonu6886.ButtonSelected #u6887,#buttonu6890.ButtonSelected #u6891
{
	width: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6893-4
{
	z-index: 54;
	width: 60px;
	min-height: 25px;
	background-color: transparent;
	padding-top: 5px;
	letter-spacing: 1px;
	color: #C281C6;
	text-align: left;
	font-size: 15px;
	line-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#buttonu6886.ButtonSelected #u6889-4,#buttonu6890.ButtonSelected #u6893-4
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

.js #u6919-10.ose_pre_init,.js #buttonu6886.ose_pre_init,.js #u6903-21.ose_pre_init,.js #u6906.ose_pre_init,.js #u6904.ose_pre_init,.js #u6908.ose_pre_init,.js #buttonu6882.ose_pre_init,.js #buttonu6890.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u7706
{
	z-index: 136;
	min-height: 25px;
	padding-bottom: 5px;
}

#u7709
{
	z-index: 137;
	width: 208px;
	margin-right: -10000px;
	left: 62px;
}

#u7712
{
	z-index: 139;
	width: 121px;
	min-height: 25px;
	margin-right: -10000px;
}

#u7710
{
	z-index: 138;
	width: 70px;
	min-height: 25px;
	margin-right: -10000px;
	left: 138px;
}

#u7706-bw
{
	z-index: 136;
	min-height: 25px;
	margin-top: 5px;
}

#pu5615
{
	width: 0.01px;
	margin-top: 3px;
}

#u5615,#u5615-bw
{
	z-index: 86;
	height: 30px;
}

#u3609-14
{
	z-index: 87;
	min-height: 20px;
}

#u3609-14-bw
{
	z-index: 87;
	min-height: 20px;
	margin-top: 10px;
}

body
{
	position: relative;
	min-width: 320px;
}

#page .verticalspacer
{
	clear: both;
}

